/.pytest_cache/
/build/
/dist/
/src/*.egg-info/
/src/**/__pycache__/
/tests/**/__pycache__/
/packaging/arch/.SRCINFO
/packaging/arch/pkg/
/packaging/arch/src/
/packaging/arch/*.pkg.tar.*
/packaging/arch/*.tar.gz
*.py[cod]
